@charset "UTF-8";
@import url ('https://fonts.googleapis.com/css2? família = Paixão + Um: peso @ 400; 700 &família = Sriracha & display = trocar ');
@import url ('https://fonts.googleapis.com/css2? família = Sriracha & display = trocar ');

:root{
    --fonte1:Verdana,Geneva,Tahoma,Sans-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursiva;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family:var(--fonte1);
}

header{
    background-color: rgba(187, 196, 152, 0.877);
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size:3vw;
   
}

header>p{
    padding-bottom: 50px;
}

header a ,footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover ,footer a:hover {
    text-decoration: underline;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
    text-align: center;
    
}

section>p{
    padding-bottom: 1em;

}

section.normal{
    background-color:white;
    color: black;
}

section.imagem{
    background-color:rgb(34, 32, 32);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.295);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p{
    display: inline-block;
    padding: 100px;
    background-color:rgba(0, 0, 0, 0.185);
    text-shadow: 1px 1px 0px black;
}
section#imag01{
    background-image: url('../imagens/mao.jpg');
    background-position: left center ;
    

}

section#imag02{
    background-image:url('../imagens/flor.jpg');
    
}

footer{
    background-color:rgba(187, 196, 152, 0.877);;
    color:white;
    text-align: center;
    padding: 20px;
}